<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="static/reset.css">
    <link rel="stylesheet" href="static/base.css">
    <link rel="stylesheet" href="static/layout.css">
    <link rel="stylesheet" href="static/module.css">

    <title>Stocks Portfolio</title>
</head>
<body>
    <header id='index-header'>
        <h1>Stocks Portfolio</h1>
        <form id='first-form'>
            <button>Login</button>
            <button>Sign Up</button>
        </form>
    </header>
    <main>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ut velit voluptatum, nisi corporis minima sequi explicabo reprehenderit, at vero quo, fugiat repudiandae! Autem explicabo, id dolores mollitia temporibus impedit!</p>
    </main>
</body>
</html>