{% block content %}
<form action="{{request.route_url('stock')}}" method="GET">
  <input type="text" name="symbol" placeholder="MSFT">
  <button type="submit">Search</button>
</form>

{% if data %}
<div>
  {{data}}
</div>
{% endif %}
{% endblock content %}